<div class="signup flex justify-center items-center">
  <div class="basis-full">
    <h2 class="text-4xl font-extrabold dark:text-white mb-5">Employee Signup</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="signup-form flex gap-10">
          <div class="basis-full grow">
            <%= f.fields_for :profile do |pf| %>
              <div class="mb-6">
                <%= pf.label :first_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= pf.text_field :first_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
          
              <div class="mb-6">
                <%= pf.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= pf.text_field :last_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
          
              <div class="mb-6">
                <%= pf.label :middle_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= pf.text_field :middle_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
              
              <div class="mb-6">
                <%= pf.label :position, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= pf.text_field :position, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>
          
              <div class="mb-6">
                <%= pf.label :contact_no, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                <%= pf.text_field :contact_no, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
              </div>    
            <% end %>
          </div>
          <div class="basis-full grow">
            <div class="mb-6">
              <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.email_field :email, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>

            <div class="mb-6">
              <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <% if @minimum_password_length %>
                <p class="text-sm text-red-600">Password must be <%= @minimum_password_length %> characters minimum.</p>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
            </div>

            <div class="actions mt-5">
              <%= f.submit "Sign up", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", data: { turbo: false } %>
            </div>         
          </div>
      </div>
    <% end %>
  </div>
</div>