<div class="ledger">
    <div class="ledger-heading flex justify-between">
        <h2 class="text-2xl font-extrabold dark:text-white mb-3">Applications</h2>
    </div>
    <div class="row mt-3">
    </div>
    <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <%= turbo_frame_tag "search-results" do %>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Service
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Created
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                <% if @service_transactions.any? %>
                    <% @service_transactions.each do |service_transaction| %>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= service_transaction.category.name %></th>
                            <td class="px-6 py-4"><%= service_transaction.category.form.form_num %></td>
                            <td class="px-6 py-4">-</td>
                            <td class="px-6 py-4"><%= service_transaction.created_at.strftime("%B %d, %Y") %></td>
                            <td class="px-6 py-4">
                                <%= link_to 'View', services_service_transaction_path(service_transaction), data: { turbo_frame: "_top" }, class: "text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-xs px-3 py-1.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
                            </td>
                        </tr>
                    <% end %>
                    <% elsif %>
                        <tr>
                            <td colspan="5" class="px-6 py-4 text-center">No results found...</td>
                        </tr>
                    <%end %>         
                </tbody>
            </table>
        <% end %>
    </div>
</div>