<!DOCTYPE html>
<html>
  <head>
    <title>Imols</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.turbo.min.js"></script>
  </head>

  <body class="bg-white dark:bg-slate-800">
    <%= render 'layouts/admin-navigation' %>
      <%= render 'layouts/messages' %>    
      <% if admin_signed_in? %>
        <%= render 'layouts/admin-nav-pill' %>
      <% end %>
      <main class="container mx-auto mt-10 mb-10">
        <%= yield %>
      </main>
  </body>
</html>
